body{
 background-color: steelblue;
}
.page-title {
  color: steelblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  flex-wrap: wrap;
  text-shadow: 2px 2px  white;
  box-shadow: 2px 2px 5px 5px  red;
  border-radius: 20px;

}

@keyframes example {
  from {background-color: steelblue;}
  to {background-color: lightgreen;}

}
.click{
  color: steelblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  flex-wrap: wrap;
  text-shadow: 2px 2px white;

}
.score{
  color: steelblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
 /* text-align: center;*/
  text-shadow: 2px 2px white;
  font-size: 20px;
  flex-wrap: wrap;
}
.grid-score{
  float: right;
  width: 23vh;
  margin-left: 40vh;
}

.grid-page{
  background:lightblue ;
  border-radius: 20px;
  
}
.grid-item{
  background: lightblue;
  float: left;
  height: 24vw; /*24*/
  margin: 1%;
  width: 23%; /*23%*/
  /*perspective: 1000px;*/
  transform-style: preserve-3d;
  transition: transform .4s ease-in-out;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 3px 2px 4px  red;
  text-align: center;
  font-weight: normal;
} 
.grid-item:active{
  transform: scale(0.97); /*0.97*/
 transition: transform .2s ease-in-out;
}
.grid-item:hover{
    /*  border: 1px solid black;*/
    box-shadow: inset 0px 0px 0px 1px steelblue;
    box-sizing: border-box;
}
.flip{
  background-color: lightgreen;
  transform: rotateY(180deg);
  animation-name: example;
  animation-duration: 2s;
}
.gefunden{
  visibility: hidden;
  transition: none;
  transform: none;
}
