/*.grid-container {
    text-align: center;
    display: grid;
   /// grid-gap: 15px; ist falsch
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    padding: 5px;
    flex-wrap: wrap;
    flex-grow: unset;
}
*/
/*  .grid-item {
    display: inline-block;
    width: auto;
    height: 150px;
    background-color: lightblue;
    cursor: pointer;
    text-align: left;
    flex-wrap: wrap;
  }*/

.grid-item{
background: lightblue;
float: left;
height: 24vw;
margin: 1%;
width: 23%;
perspective: 1000px;
transform-style: preserve-3d;
transition: transform .6s;
} 
.grid-item:active{
  transform: scale(0.97);
  transition: transform .3s;
}
.grid-item:hover{
    /*  border: 1px solid black;*/
    box-shadow: inset 0px 0px 0px 2px red;
    box-sizing: border-box;
}
.flip{
  background-color: orange;
  transform: rotateY(180deg);
  /*backface-visibility: visible;*/
  
}

.page-title {
  color: #FF6D00;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  flex-wrap: wrap;
}
